/*############# SDSU Parking Project Title ################*/
div.homelogo {
    font-family: Helvetica; 
    font-size: 50px;
    margin: 12px; 
    text-align: center;
    -webkit-text-fill-color: white;
}

/*############# Body ################*/
body {background-color:  #39393a;}
/*############# Body ################*/

/*############# Images/GIFs ################*/
img {
    display: block;
    width: 100%;
    height: auto;
}
img.perfect {
    max-height: 314px;
    max-width: 420px;
}
img.park {
    max-height: 202px;
    max-width: 300px;
    display: block;
    padding-top: 15px;
}
img.logos {
    max-height: 32px;
    max-width: 32px;
    display: inline-block;
    margin: 10px 5px 10px 5px;
}
img.directions {
    margin: 10px 5px 10px 5px;
    background-color: transparent;
    max-height: 32px;
    max-width: 32px;
    display: inline-block;
    
}
/*############# Images/GIFs ################*/

/*############# Parking Container ################*/
.parking-row {
    overflow: hidden;
    background-color: black;
    -webkit-text-fill-color: white;
    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    padding: 10px 0px 20px 10px;
}
.col-lg-8 .lot-percent {
    font-size: 48px;
    padding: 21.5px 0px 21.5px 0px;
}
.directionlink {
    display: block;
}
/*############# Parking Container ################*/

/*############# Navigation Bar ################*/
.navContainer {
    font-family: Helvetica;
    padding: 0;
    overflow: hidden;
    background-color: #212121;
}
.navlink {
    float: left;
    overflow: hidden;
    background-color: #212121;
    text-align: center;
}
.navlink .ps-btn{
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    padding: 14px 16px;
}
/*############# Navigation Bar ################*/

/*############# Login/Signup Bar ################*/
.navlink.user {
    float: right;
    overflow: hidden;
    background-color: #212121;
    text-align: center;
}
.navlink.user .ps-btn{
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    padding: 14px 16px;
}
/*############# Login/Signup Bar ################*/

/*############# Dropdown bar ################*/
.ps-dropdown {
    float: left;
    overflow: hidden;
    background-color: #212121;
    text-align: center;
}
.ps-dropdown .ps-btn{
    cursor: pointer;
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
/*############# Dropdown bar ################*/

/*############# Hover Active elements ################*/

.navlink:hover, .ps-dropdown:hover .ps-btn {background-color:#DF0000;}
.dropdown-content a:hover {background-color: #DF0000;}
.ps-dropdown:hover .dropdown-content {display: block;}
.ps-dropdown:hover .ps-btn:active {background-color: black}
.navlink:active {background-color: black}
.dropdown-content a:active {background-color: black;}
/*############# Hover Active elements ################*/

/* Mobile adjustments*/
@media screen and (max-width: 800px){
    .navlink {float: none; text-align: center;}
    .navlink.user {float: none; text-align: center;}
    .ps-dropdown {float: none}
    .col-xs-6.col-sm-6.col-md-7 .lot-percent {font-size: 32px; padding-bottom: 0px}
    .logos {max-height: 32px; max-width: 32px}
    .directionlink{display: inline-block}
}